* {
  /* border: 1px solid gold; */
  margin: 0;
  font-family: 'Anton', sans-serif; 
}
body {
  background-image: url("images/collar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(25, 25, 25);
  height: 100vh;
}
#open-modal-btn {
margin-left: 45%;
margin-top: 2em;
padding: .8em;
}
#modal {
  z-index: 1;
  height: 35%;
  width: 50%;
  margin-left: 25%;
  margin-top: 25%;
  background-color: #D4C175;
  color: white;
  display: none;
  box-shadow: 1px 1px 1px white;
}
a {
  text-decoration: none;
  color: white;
}
#modal-textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
}
#modal-footer {
  text-align: right;
}
a:hover {
  text-decoration: underline;
}
button {
  background-color: white;
}
