* {
  margin: 0;
  font-family: 'Anton', sans-serif;
  /* border: 1px solid aqua; */
  background-color: rgb(25, 25, 25);
}
body {
  height: 100%vh;
  width: 100%vw;
}
#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 600px;
  width: 100%;
  color: white;
  z-index: 2;
  position:absolute;
}
#weather-modal {
  height: 600px;
  width: 100%;
  text-align: center;
  margin-top: 25%;
  background-color: rgb(25, 25, 25);
  color: white;
  z-index: 1;
  position: absolute;
  display: none;
}
#currently {
  color: #D4C175;
}
button {
  margin-top: 5em;
  margin-left: 35%;
  width: 10em;
  padding: .5em;
  background-color: #D4C175;
  color: white;
  border: none;
  display: none;

}
a {
  text-decoration: none;
  background-color: #D4C175;
  color: white;
}
a:hover {
  text-decoration: underline;
}
